<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header'); %>
</head>

<body class="sb-nav-fixed">
    <%- include('../partial/nav'); %>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <%- include('../partial/sidebar'); %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Venue Create</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/venue/list">Venue List</a></li>
                        <li class="breadcrumb-item active">Venue Create</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Venue
                            <button type="button" class="btn btn-primary" style="float: right;"><a href="/venue/list"
                                    style="text-decoration: none; color: white;">Back</a></button>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/venue/save">
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Venue name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="venue_name" id="venue_name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Establishment Year</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" name="establishment_year" id="establishment_year">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Capacity</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" name="capacity" id="capacity">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">City</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="city" id="city">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Country</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="country" id="country">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../partial/javascript'); %>
</body>

</html>