<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header'); %>
</head>

<body class="sb-nav-fixed">
    <%- include('../partial/nav'); %>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <%- include('../partial/sidebar'); %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Venue List</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Venue List</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Venue
                            <button type="button" class="btn btn-primary" style="float: right;"><a
                                    href="/venue/create" style="text-decoration: none; color: white;">Add
                                    Venue</a></button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Venue Name</th>
                                            <th>City</th>
                                            <th>Country</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% venues.forEach(function(venue, index) { %>
                                        <tr>
                                            <td><%= index+1 %></td>
                                            <td><%= venue.venue_name %></td>
                                            <td><%= venue.city %></td>
                                            <td><%= venue.country %></td>
                                            <td>
                                                <a href="/venue/detail/<%= venue.id %>">Detail</a>
                                                <a href="/venue/edit/<%= venue.id %>">Edit</a>
                                                <a href="/venue/destroy/<%= venue.id %>">Delete</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../partial/javascript'); %>
</body>

</html>