<html>
    <head>
        <title>Games Rock Paper Scissors</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
        <link href=" https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/style-games.css"/>
    </head>
    <body style="background: #9C835F;">
        <!-- Image and text -->
        <nav class="navbar navbar-expand-lg" style="margin-bottom: 63px;">
            <a class="navbar-brand" href="/">
                <img src="/images/property-games/back.png" style="width: 55; height: 87; margin-right: 27px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <img src="/images/property-games/logo-games.png" width="72" height="72" style="margin-right: 27px;">
                    </li>
                    <li class="nav-item">
                        <h1 style="color: #F9B23D;">ROCK PAPER SCISSORS</h1>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="container">
                <div class="row option-rps">
                    <div class="col-lg-3 offset-lg-1">
                        <p style="font-size: 36px; font-weight: bold;">PLAYER 1</p>
                    </div>
                    <div class="col-lg-4">
                    
                    </div>
                    <div class="col-lg-3">
                        <p style="font-size: 36px; font-weight: bold;">COM</p>
                    </div>
                </div>
                
                <div class="row option-rps">
                    <div class="col-lg-3 offset-lg-1 player-hand" id="rock" name="rock">
                        <img src="/images/property-games/batu.png" width="128" height="92">
                    </div>
                    <div class="col-lg-4">
                
                    </div>
                    <div class="col-lg-3 computer-hand" id="computer-rock" name="rock">
                        <img src="/images/property-games/batu.png" width="128" height="92">
                    </div>
                </div>
                
                <div class="row option-rps">
                    <div class="col-lg-3 offset-lg-1 player-hand" id="paper" name="paper">
                        <img src="/images/property-games/kertas.png" width="115" height="150">
                    </div>
                    <div class="col-lg-4" style="text-align: center;">
                        <p class="text-start" id="text-vs">V S</p>
                    </div>
                    <div class="col-lg-3 computer-hand" id="computer-paper" name="paper">
                        <img src="/images/property-games/kertas.png" width="115" height="150">
                    </div>
                </div>
                
                <div class="row option-rps">
                    <div class="col-lg-3 offset-lg-1 player-hand" id="scissors" name="scissors">
                        <img src="/images/property-games/gunting.png" width="134" height="160">
                    </div>
                    <div class="col-lg-4">
                
                    </div>
                    <div class="col-lg-3 computer-hand" id="computer-scissors" name="scissors">
                        <img src="/images/property-games/gunting.png" width="134" height="160">
                    </div>
                </div>
                
                <div class="row option-rps" style="text-align: center;">
                    <div class="col-lg-3 offset-lg-1">
                
                    </div>
                    <div class="col-lg-4">
                        <img src="/images/property-games/refresh.png" id="btn-refresh" width="77" height="71">
                    </div>
                    <div class="col-lg-3">
                
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript; choose one of the two! -->
        
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
        
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
    </body>
    <script src="js/app.js"></script>
</html>