<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Code Challenge</title>

    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="section-one">
        <div
            style="height: 960.14px; background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%,rgba(0, 0, 0, 0.9) 100%); letter-spacing: 0.1em;">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#" style="line-height: 32.68px;">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent"
                    style="margin-left: 5em; margin-right: 5em;">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;">WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;">ABOUT ME</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="/user/sign-up" class="nav-link" style="color: white;">SIGN UP</a>
                            </li>
                            <li class="nav-item">
                                <a href="/user/login" class="nav-link" style="color: white;">LOGIN</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </nav>
            <div class="jumbotron jumbotron-fluid bg-transparent" style="text-align: center;">
                <div class="container" style="color: white;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 style="font-size: 72px; letter-spacing: 3px;">PLAY TRADITIONAL GAME</h1>
                            <p class="lead" style="letter-spacing: 2px;">Experience new traditional game play</p>
                            <a href="/games" type="button" class="btn btn-md btn-warning"
                                style="width: 260.36px; height: 60px; padding-top: 18px; padding-left: 3em; padding-right: 3em; margin-top: 1em; color: black; background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%); border-radius: 4px;"><b>TRIAL</b></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 100%; position: absolute; bottom: 0; text-align: center;">
                <div class="col-lg-12">
                    <p style="color: white;">THE STORY</p>
                    <img src="/images/section-content/scroll-down.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-two">
        <div class="container-fluid"
            style="color: white; padding: 8em; background: rgba(15, 15, 15, 0.9); height: 1051.43px;">
            <div class="row">
                <div class="col-lg-4" style="margin-top: 5em;">
                    <div class="row">
                        <div class="col-lg-12">
                            <p style="font-size: 24px; letter-spacing: 2px;">What's so special?</p><br>
                            <h1 style="font-size: 56px; letter-spacing: 3px;">THE GAMES</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" style="margin-top: 10em;">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/section-content/sc-two-content.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/section-content/sc-two-content2.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/images/section-content/sc-two-content.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/images/section-content/sc-two-content2.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="section-three">
        <div class="container-fluid"
            style="height: 870.26px; color: white; padding: 10em; background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row" style="margin-bottom: 70.75px;">
                        <div class="col-lg-12">
                            <h3 style="font-size: 24px; letter-spacing: 2px;">What's so special??</h3>
                            <h1 style="font-size: 56px; letter-spacing: 3px;">FEATURES</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <img src="/images/section-content/Ellipse-Full.png" />
                            <img src="/images/section-content/Progress-Bar.png" style="margin-left: 7px;" />
                            <img src="/images/section-content/Ellipse.png" style="margin-bottom: 62.92px;" />
                            <img src="/images/section-content/Ellipse.png" />
                        </div>
                        <div class="col-lg-11">
                            <h3 style="color: #FFB548; font-size: 24px; letter-spacing: 2px;">TRADITIONAL GAMES</h3>
                            <p style="width: 362.52px; margin-bottom: 68px; font-size: 18px; text-align: justify;">If
                                you miss your
                                childhood, we provide many traditional games here</p>
                            <h3 style="color: #FFB548; margin-bottom: 58px; font-size: 24px; letter-spacing: 2px;">GAME
                                SUIT</h3>
                            <h3 style="color: #FFB548; font-size: 24px; letter-spacing: 2px;">TBD</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-four">
        <div class="container-fluid"
            style="height: 960.16px; color: white; padding: 8em; background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row" style="margin-bottom: 20%;">
                        <div class="col-lg-6">
                            <h1 style="font-size: 56px;">SYSTEM REQUIREMENTS</h1>
                        </div>
                        <div class="col-lg-6" style="margin-left: 0px; text-align: right;">
                            <p style="font-size: 14px;">Can My Computer Run this game?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table
                                style="border-color: white; border: 1px solid white; border-collapse: collapse; width: 573.2px;">
                                <tbody>
                                    <tr>
                                        <td style="padding: 16px;">
                                            <h1 style="color: #FFB548; font-size: 24px;">OS:</h1>
                                            <p style="font-size: 18px;">Windows 7 64-bit only <br>(No OSX support at
                                                this time)</p>
                                        </td>
                                        <td style="padding: 16px;">
                                            <h1 style="color: #FFB548; font-size: 24px;">PROCESSOR:</h1>
                                            <p style="font-size: 18px;">Intel Core 2 Duo @ 2.4 GHZ or <br>AMD Athlon X2
                                                @ 2.8 GHZ</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 16px;">
                                            <h1 style="color: #FFB548; font-size: 24px;">MEMORY:</h1>
                                            <p style="font-size: 18px;">4 GB RAM</p>
                                        </td>
                                        <td style="padding: 16px;">
                                            <h1 style="color: #FFB548; font-size: 24px;">STORAGE:</h1>
                                            <p style="font-size: 18px;">8 GB available space</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="padding: 16px;">
                                            <h1 style="color: #FFB548; font-size: 24px;">GRAPHICS:</h1>
                                            <p style="font-size: 18px;">NVIDIA GeForce GTX 660 2GB or <br> Radeon HD
                                                7850 2GB DirectX11
                                                (Shader Model 5)</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-five">
        <div class="container-fluid" style="height: 870.26px; color: white; padding: 5em;">
            <div class="row" style="margin-bottom: 5%;">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <div class="row"
                        style="width: 452.59px; background: rgba(255, 255, 255, 0.08); border-radius: 10px; margin-left: 5em;">
                        <div class="col-lg-12" style="margin: 2%;">
                            <div class="row">
                                <div class="col-lg-2">
                                    <!-- <img src="/images/Ellipse-Orange.png"/> -->
                                    <img src="/images/user/user1.png" style="border-radius: 50%; width: 60px;" />
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3 style="color: #FFB548;">Evan Lahti</h3>
                                            <p style="opacity: 0.5;">PC Gamer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row">
                                        <div class="col-lg-12" style="text-align: right;">
                                            <img src="/images/social-media/twitter.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>“One of my gaming highlights of the year.”</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <p style="opacity: 0.5;">October 18, 2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5%;">
                <div class="col-lg-6" style="padding-left: 5em;">
                    <h1 style="color: white;">TOP SCORES</h1>
                    <p style="margin-bottom: 40px;">This top score from various games provided <br>on this platform</p>
                    <button type="button" class="btn btn-md btn-warning"
                        style="color: black; width: 260.36px; height: 60px; background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%); border-radius: 4px;"><b>see
                            now</b></button>
                </div>
                <div class="col-lg-6">
                    <div class="row"
                        style="width: 452.59px; background: rgba(255, 255, 255, 0.08); border-radius: 10px; margin-right: 5em;">
                        <div class="col-lg-12" style="margin: 2%;">
                            <div class="row">
                                <div class="col-lg-2">
                                    <!-- <img src="/images/Ellipse-Orange.png"/> -->
                                    <img src="/images/user/user2.png" style="border-radius: 50%; width: 60px;" />
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3 style="color: #FFB548;">Jada Griffin</h3>
                                            <p style="opacity: 0.5;">Nerdreactor</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row">
                                        <div class="col-lg-12" style="text-align: right;">
                                            <img src="/images/social-media/twitter.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>“The next big thing in the world of streaming and survival games.”</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <p style="opacity: 0.5;">December 21, 2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5%;">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <div class="row"
                        style="width: 452.59px; background: rgba(255, 255, 255, 0.08); border-radius: 10px; margin-left: 2.5em;">
                        <div class="col-lg-12" style="margin: 2%;">
                            <div class="row">
                                <div class="col-lg-2">
                                    <!-- <img src="/images/Ellipse-Orange.png"/> -->
                                    <img src="/images/user/user3.png" style="border-radius: 50%; width: 60px;" />
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3 style="color: #FFB548;">Aaron Williams</h3>
                                            <p style="opacity: 0.5;">Uproxx</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row">
                                        <div class="col-lg-12" style="text-align: right;">
                                            <img src="/images/social-media/twitter.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <p style="opacity: 0.5;">December 24, 2018</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-six">
        <div class="container-fluid" style="height: 870.26px; color: white; padding: 10em; ">
            <div class="row">
                <div class="col-lg-5">
                    <img src="/images/background/BG-Group6.png"
                        style="background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%)" />
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Want to stay in touch?</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 style="font-size: 80px;">NEWSLETTER SUBSCRIBE</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>In order to start receiving our news, all you have to do is enter your email address.
                                Everything else
                                will be taken care of by us. We will send you emails containing information about game.
                                We don’t spam.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div
                                style="width: 100%; height: 60px; background: rgba(255, 255, 255, 0.08); border-radius: 5px;">
                                <div class="row" style="padding-top: 8px; padding-left: 16px;">
                                    <div class="col-lg-12">
                                        <p style="opacity: 0.5; margin-bottom: -4px;">Your email address</p>
                                        <p style="color: #FFB548;">youremail@binar.co.id</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <button type="button" class="btn btn-md btn-warning"
                                style="color: black; width: 260.36px; height: 60px; background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%); border-radius: 4px;"><b>Subscribe
                                    Now</b></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2em;"></div>
            <div class="row">
                <div class="offset-lg-1">
                </div>
                <div class="col-lg-1">
                    <p style="font-size: 12px;">MAIN</p>
                </div>
                <div class="col-lg-1">
                    <p style="font-size: 12px;">ABOUT</p>
                </div>
                <div class="col-lg-2">
                    <p style="font-size: 12px;">GAME FEATURES</p>
                </div>
                <div class="col-lg-2">
                    <p style="font-size: 12px;">SYSTEM REQUIREMENTS</p>
                </div>
                <div class="col-lg-1">
                    <p style="font-size: 12px;">QUOTES</p>
                </div>
                <div class="col-lg-1">
                    <img src="/images/social-media/facebook.png" />
                </div>
                <div class="col-lg-1">
                    <img src="/images/social-media/twitter-bottom.png" />
                </div>
                <div class="col-lg-1">
                    <img src="/images/social-media/youtube.png" />
                </div>
                <div class="col-lg-1">
                    <img src="/images/social-media/twitch.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr style="width: 100%; height: 0.5px; background-color: white;">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p style="opacity: 0.5; font-size: 12px;">© 2018 Your Games, Inc. All Rights Reserved</p>
                </div>
                <div class="offset-lg-2">
                </div>
                <div class="col-lg-6" style="text-align: right;">
                    <p style="font-size: 12px;">Privacy Policy | Terms of Services | Code of Conduct </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
    </script>
</body>

</html>