.section-one {
    background-image: url("/images/background/BG-Group1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 960.14px;
}

.section-two {
    background-image: url("/images/background/BG-Group2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1051.43px;
}

.section-three {
    background-image: url("/images/background/BG-Group3.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 870.26px;
}

.section-four {
    background-image: url("/images/background/BG-Group4.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 960.16px;
}

.section-five {
    background-image: url("/images/background/BG-Group5.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 870.26px;
}

.section-six {
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 959.87px;
}

.navbar {
    background: rgba(0, 0, 0, 0.5);
    padding-inline: 5em;
}

a .nav-link {
    margin-left: 2em;
    font-size: 12px;
}

.jumbotron {
    position: relative;
    top: 8em;
    /* height: 930.14px; */
}

table,
td,
th {
    border: 1px solid white;
}