.option-rps {
    margin-bottom: 81px;
    text-align: center;
}

.selected {
    background: #C4C4C4;
    border-radius: 30px;
    width: fit-content;
    padding: 30px;
}

.text-start {
    font-size: 144px;
    font-weight: bold;
    color: #BD0000;
}

.text-result {
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    color: white;
    font-size: 38px;
    padding: 20px;
    /* width: fit-content; */
    text-align: center;
}