<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Sign-up</title>
</head>

<body style="background-color: purple;">
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 5em; margin-right: 5em;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">HOME</a>
                </li>
                <li class="nav-item active">
                    <a href="/user/sign-up" class="nav-link">SIGN UP</a>
                </li>
                <li class="nav-item">
                    <a href="/user/login" class="nav-link">LOGIN</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
            <form action="/user/sign-up/save" method="POST">
                <div class="form-group">
                    <label style="color: white;">Full Name</label>
                    <input type="text" class="form-control" name="full_name" id="full_name" placeholder="ex: Joko Purnomo">
                </div>
                <div class="form-group">
                    <label style="color: white;">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="ex: Joko">
                </div>
                <div class="form-group">
                    <!-- <label style="color: white;">Age</label> -->
                    <!-- <input type="number" class="form-control" name="age" id="age" placeholder="ex: 23"> -->
                    <label style="color: white;">Date of Birth</label>
                    <input type="date" class="form-control" name="dob" id="dob">
                </div>
                <div class="form-group">
                    <label style="color: white;">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="ex: JokoPurnomo">
                </div>
                <!-- <div class="form-group">
                    <label style="color: white;">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="ex: joko@example.com">
                </div> -->
                <div class="form-group">
                    <label for="gender" class="col-sm-2 col-form-label" style="color: white;">Gender</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="genderMen" value="1" checked>
                            <label class="form-check-label" for="genderMen" style="color: white;">
                                Men
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="genderWomen" value="2">
                            <label class="form-check-label" for="genderWomen" style="color: white;">
                                Women
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white;">Address</label>
                    <textarea class="form-control" name="address" id="address"></textarea>
                </div>
                <div class="form-group">
                    <label style="color: white;">Password</label>
                    <input type="password" class="form-control" name="password" id="Password">
                </div>
                <button type="submit" class="btn btn-primary" style="width: 100%;">SIGN UP</button>
            </form>

            <% if(locals.message) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 3%;">
                <strong><%= message %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
    </script>
</body>

</html>