<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header'); %>
</head>

<body class="sb-nav-fixed">
    <%- include('../partial/nav'); %>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <%- include('../partial/sidebar'); %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Match Detail</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/match/list">Match List</a></li>
                        <li class="breadcrumb-item active">Match Detail</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Match
                            <button type="button" class="btn btn-primary" style="float: right;"><a href="/match/list"
                                    style="text-decoration: none; color: white;">Back</a></button>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <label for="full_name" class="col-sm-2 col-form-label">Venue Name</label>
                                <div class="col-sm-10">
                                    <label><%= match.venue.venue_name %></label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="full_name" class="col-sm-2 col-form-label">Player 1</label>
                                <div class="col-sm-10">
                                    <label><%= match.playerOne.full_name %></label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label">Player 1 Hand</label>
                                <div class="col-sm-10">
                                    <label>
                                        <% if(match.player_1_hand == "1") { %>
                                        Kertas
                                        <% } else if(match.player_1_hand == "2") { %>
                                        Gunting
                                        <% } else if(match.player_1_hand == "3") { %>
                                        Batu
                                        <% } %>
                                    </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="full_name" class="col-sm-2 col-form-label">Player 2</label>
                                <div class="col-sm-10">
                                    <label><%= match.playerTwo.full_name %></label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-2 col-form-label">Player 2 Hand</label>
                                <div class="col-sm-10">
                                    <label>
                                        <% if(match.player_2_hand == "1") { %>
                                        Kertas
                                        <% } else if(match.player_2_hand == "2") { %>
                                        Gunting
                                        <% } else if(match.player_2_hand == "3") { %>
                                        Batu
                                        <% } %>
                                    </label>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="full_name" class="col-sm-2 col-form-label">Result</label>
                                <div class="col-sm-10">
                                    <label><%= match.result %></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../partial/javascript'); %>
</body>

</html>