<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header'); %>
</head>

<body class="sb-nav-fixed">
    <%- include('../partial/nav'); %>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <%- include('../partial/sidebar'); %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Match Edit</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/match/list">Match List</a></li>
                        <li class="breadcrumb-item active">Match Edit</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Match
                            <button type="button" class="btn btn-primary" style="float: right;"><a href="/match/list"
                                    style="text-decoration: none; color: white;">Back</a></button>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/match/save">
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Player 1</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="player_1" id="player_1">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Player 1 Hand</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="player_1_hand" id="player_1_hand">
                                            <option value="1" <%= match.player_1_hand == "1" ? "selected" : "" %>>Kertas
                                            </option>
                                            <option value="2" <%= match.player_1_hand == "2" ? "selected" : "" %>>Gunting
                                            </option>
                                            <option value="3" <%= match.player_1_hand == "3" ? "selected" : "" %>>Batu
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Player 2</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="player_2" id="player_2">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Player 2 Hand</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="player_2_hand" id="player_2_hand">
                                            <option value="1" <%= match.player_2_hand == "1" ? "selected" : "" %>>Kertas
                                            </option>
                                            <option value="2" <%= match.player_2_hand == "2" ? "selected" : "" %>>Gunting
                                            </option>
                                            <option value="3" <%= match.player_2_hand == "3" ? "selected" : "" %>>Batu
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../partial/javascript'); %>
</body>

</html>