<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header'); %>
</head>

<body class="sb-nav-fixed">
    <%- include('../partial/nav'); %>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <%- include('../partial/sidebar'); %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Match List</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Match List</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Match
                            <button type="button" class="btn btn-primary" style="float: right;"><a href="/match/create"
                                    style="text-decoration: none; color: white;">Add
                                    Match</a></button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Player 1</th>
                                            <th>Player 1 Hand</th>
                                            <th>Player 2</th>
                                            <th>Player 2 Hand</th>
                                            <th>Result</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% matches.forEach(function(match, index) { %>
                                        <tr>
                                            <td><%= index+1 %></td>
                                            <td><%= match.playerOne.full_name %></td>
                                            <td>
                                                <% if(match.player_1_hand == "1") { %>
                                                Kertas
                                                <% } else if(match.player_1_hand == "2") { %>
                                                Gunting
                                                <% } else if(match.player_1_hand == "3") { %>
                                                Batu
                                                <% } %>
                                            </td>
                                            <td><%= match.playerTwo.full_name %></td>
                                            <td>
                                                <% if(match.player_2_hand == "1") { %>
                                                Kertas
                                                <% } else if(match.player_2_hand == "2") { %>
                                                Gunting
                                                <% } else if(match.player_2_hand == "3") { %>
                                                Batu
                                                <% } %>
                                            </td>
                                            <td><%= match.result %></td>
                                            <td>
                                                <a href="/match/detail/<%= match.id %>">Detail</a>
                                                <!-- <a href="/match/edit/<%= match.id %>">Edit</a>
                                                <a href="/match/destroy/<%= match.id %>">Delete</a> -->
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../partial/javascript'); %>
</body>

</html>