<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/dashboard">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <a class="nav-link" href="/biodata/list">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Biodata
            </a>
            <a class="nav-link" href="/match/list">
                <div class="sb-nav-link-icon"><i class="fas fa-handshake"></i></div>
                Match
            </a>
            <a class="nav-link" href="/venue/list">
                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                Venue
            </a>
        </div>
    </div>
</nav>