<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header'); %>
</head>

<body class="sb-nav-fixed">
    <%- include('../partial/nav'); %>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <%- include('../partial/sidebar'); %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Biodata Create</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/biodata/list">Biodata List</a></li>
                        <li class="breadcrumb-item active">Biodata Create</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Biodata
                            <button type="button" class="btn btn-primary" style="float: right;"><a href="/biodata/list"
                                    style="text-decoration: none; color: white;">Back</a></button>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/biodata/save">
                                <div class="row mb-3">
                                    <label for="full_name" class="col-sm-2 col-form-label">Full name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="full_name" id="full_name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" id="name">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" name="dob" id="dob">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="gender" class="col-sm-2 col-form-label">Gender</label>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="genderMen"
                                                value="1" checked>
                                            <label class="form-check-label" for="genderMen">
                                                Men
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="genderWomen"
                                                value="2">
                                            <label class="form-check-label" for="genderWomen">
                                                Women
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="address" class="col-sm-2 col-form-label">Address</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="address" id="address"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../partial/javascript'); %>
</body>

</html>