<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/header'); %>
</head>

<body class="sb-nav-fixed">
    <%- include('../partial/nav'); %>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <%- include('../partial/sidebar'); %>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Biodata List</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Biodata List</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Biodata
                            <button type="button" class="btn btn-primary" style="float: right;"><a
                                    href="/biodata/create" style="text-decoration: none; color: white;">Add
                                    Biodata</a></button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Full name</th>
                                            <th>Name</th>
                                            <th>Date of Birth</th>
                                            <th>Gender</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% biodatas.forEach(function(biodata, index) { %>
                                        <tr>
                                            <td><%= index+1 %></td>
                                            <td><%= biodata.full_name %></td>
                                            <td><%= biodata.name %></td>
                                            <td><%= biodata.dob %></td>
                                            <td>
                                                <% if(biodata.gender == "1") { %>
                                                Men
                                                <% } else if(biodata.gender == "2") { %>
                                                Women
                                                <% } %>
                                            </td>
                                            <td><%= biodata.address %></td>
                                            <td>
                                                <a href="/biodata/detail/<%= biodata.id %>">Detail</a>
                                                <a href="/biodata/edit/<%= biodata.id %>">Edit</a>
                                                <a href="/biodata/destroy/<%= biodata.id %>">Delete</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('../partial/javascript'); %>
</body>

</html>